.topbar-wrapper
  .topbar
    .topbar-inner
      .container
        -# Yes, Bootstrap requires all those elements up there.
      
        %h3
          = link_to application.name, '/'
        
        .pull-right
        
          %ul.nav
            %li= link_to 'Dashboard', '/dashboard'
            %li= link_to 'Inbox', '/messages'
              
          %form
            %input{type: 'text', placeholder: 'Search', name: 'q', value: params[:q]}