.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .pull-right
        = link_to project_name, '/', :class => 'brand'
      %ul.nav
        - nav_links.each do |name, url|
          %li= link_to name, url