.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .pull-right
        .brand= link_to project_name, '/'
      %ul.nav
        - nav_links.each do |name, url|
          %li= link_to name, url