.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .pull-right
        .brand= link_to project_name, '/'
      %ul.nav
        %li= link_to 'Google', 'http://google.com'
        %li= link_to 'Twitter', 'http://twitter.com'
        %li= link_to 'NPR Music', 'http://npr.org/music'
      